<!-- footer.html -->
<footer class="footer" dir="ltr">
  <div class="content has-text-centered has-text-grey-light">
    <p>
      Made with <i class="fas fa-heart has-text-primary"></i> &amp; <i class="fas fa-coffee has-text-secondary"></i> in <a href="https://t.me/iranagile" target="_blank" class="has-text-weight-semibold">Iran Agile Community.</a>
    </p>
    <a href="https://www.linkedin.com/in/hamidsaberi" target="_blank">
        <i class="fab fa-linkedin"></i> Hamid Saberi
      </a>
    <i class="fas fa-plus md"></i>
    <a target="_blank" href="https://www.linkedin.com/in/soheil-samadzadeh">
      <i class="fab fa-linkedin"></i> Soheil Samadzadeh
      </a>
    </p>
  </div>
</footer>
