<nav class="navbar is-spaced has-shadow">
  <div class="container">
<div class="navbar-brand">
  <a class="navbar-item" href=".">
    <div class="title is-4 is-size-6-mobile">
      قانون‌های «رفتارِ سازمانی» لارمن
      <span class="tag is-secondary">
          فارسی
        </span>
    </div>
  </a>

  <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false">
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
</a>
</div>
<div class="navbar-menu">
  <div class="navbar-end">

        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary" target="_blank" href="https://www.craiglarman.com/wiki/index.php?title=Larman%27s_Laws_of_Organizational_Behavior">
              <span class="icon"><i class="fas fa-link"></i></span><span>سایت اصلی</span>
            </a>
            <!-- <a class="button is-primary" href="/assets/larmans_laws_fa_2019.pdf">
              <span class="icon">
                <i class="fas fa-download"></i>
              </span>
              <span>PDF</span>
                      </a> -->
          </div>
        </div>
      </div>
</div>
</div>
</nav>
